body {
    font-family: 'Roboto', sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 400px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input {
    margin-bottom: 15px;
}

input {
    width: 95%;
    padding: 0.5rem;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.react-datepicker-wrapper {
    width: 100%;
    display: block;
    position: relative;
}

.react-datepicker {
    font-family: Arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 14px;
    width: 100%;
    margin-top: 4px;
}

.react-datepicker__header {
    background-color: #007bff;
}

.react-datepicker__input-container {
    display: block;
}

.react-datepicker__month-container {
    padding: 8px;
}

.react-datepicker__month-text {
    color: #333;
}

.react-datepicker__day-names {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.react-datepicker__day-name {
    color: #333;
}

.react-datepicker__day {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.react-datepicker__day:hover {
    background-color: #f0f0f0;
}

.react-datepicker__day--selected {
    background-color: #007bff;
    color: #fff;
}

.react-datepicker__day--keyboard-selected {
    background-color: #007bff;
    color: #fff;
}

.react-datepicker__day--disabled {
    color: #ccc;
    cursor: default;
}

.react-datepicker__month {
    margin-bottom: 8px;
}

.react-datepicker__month-container {
    padding: 8px;
}

.react-datepicker__month-text {
    color: #333;
}

.react-datepicker__day-names {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.react-datepicker__day-name {
    color: #333;
}

.react-datepicker__day {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.react-datepicker__day:hover {
    background-color: #f0f0f0;
}

.react-datepicker__day--selected {
    background-color: #007bff;
    color: #fff;
}

.react-datepicker__day--keyboard-selected {
    background-color: #007bff;
    color: #fff;
}

.react-datepicker__day--disabled {
    color: #ccc;
    cursor: default;
}

.react-datepicker__month {
    margin-bottom: 8px;
}

.react-datepicker__input-container input {
    width: 95%;

    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.react-datepicker__input-container input:focus {
    outline: none;
    border-color: #007bff;
    /* Adjust focus color */
}

.react-datepicker__input-container input::placeholder {
    color: #999;
    /* Adjust placeholder color */
}

.react-datepicker__portal {
    z-index: 9999;
    /* Adjust z-index as needed */
}

.btn button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.SLbtn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 33%;
    width: 25%;
}

.VBbtn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}

.email-sent-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.btn button:hover {
    background-color: darkblue;
}

.SLbtn:hover {
    background-color: darkblue;
}

.VBbtn:hover {
    background-color: darkblue;
}

.upload {
    margin-bottom: 1rem;
}

.upload label {
    display: block;
    margin-bottom: 0.5rem;
}

/* .upload input[type="file"] {
    display: none;
} */

.upload button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload .file-preview {
    margin-top: 0.5rem;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

.forget {
    color: rgb(236, 68, 68);
    font-size: 13px;
    padding-bottom: 1rem;

}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #007bff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.add_photo {
    margin: 1rem;
    color: #f0f0f0;
}

.add_photo:hover {
    margin: 1rem;
    color: #c6bdbd;
    cursor: pointer;
}

.reset-password-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right {
    flex: 1;
    background-color: #fff;
    padding: 20px;
}

.user-info {
    text-align: center;
}

.user-info h2 {
    margin-bottom: 10px;
}

.user-info p {
    margin-bottom: 5px;
}